<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wake Up StormWars Discord Bot!</title>
    <meta name="description" content="Storm Wars Discord Bot wake up page">
    <!--link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <!--link rel="stylesheet" href="/style.css"-->
    
    <!-- import the webpage's client-side javascript file -->
    <!--script src="/client.js" defer></script-->
  </head>
  <body>
    <header>
      <h1>I'm Awake, I'm Awake!</h1>
    </header>
    <main>
      <p>Thanks for waking me up~</p>
    </main>
  </body>
</html>
