<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Privacy Policy</title>
    <meta name="description" content="Cards and Castles Discord Bot Privacy Policy">
    <!--link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <!--link rel="stylesheet" href="/style.css"-->
    
    <!-- import the webpage's client-side javascript file -->
    <!--script src="/client.js" defer></script-->
  </head>
  <body>
    <header>
      <h1>Privacy Policy</h1>
    </header>
    <main>
      <p>The Cards and Castles Discord Bot gets the data for it's content lookup from the spreadsheet you give it access to.</p>
      <p>This data is extracted and stored as part of the Project Code.</p>
      <p>The stored data may be visible to the public as part of the Project Code.</p>
      <p>The stored data should be purely informational data about the Storm Wars Game and should not contain any personal information at all. Please do not enter any personal information into the spreadsheet the Bot is granted access to.</p>
    </main>
  </body>
</html>
